<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHEFSWAY</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">CHEFSWAY</a>
      </h1>
      <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#" id="logout">Logout</a></li>
        </ul>
    </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      CHEFSWAY - 2021!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/comment.js"></script>
  {{/if}}
</body>