<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHEFSWAY</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-wrap background">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/"><img id="ChefsWay-logo" src="/images/Homepage_Logo_extended_icon.png" alt="ChefsWay Home Button" width="270"></a>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav left-nav-bar">
                        <li class="uk-active"><a href="/dashboard">Dashboard</a></li>
                        <li class="uk-active"><a href="/login"><img src="/images/Signin.png" alt="Login" width="20">Login</a></li>
                        <li class="uk-active"><a href="/login">Sign Up</a></li>
                        <li class="uk-active logout"><a href="#" id="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Hero Image & Welcome Message -->
        <div class="uk-inline uk-margin uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-center hero-image">
            <img src="/images/Hero-Landing.jpg" alt="Welcome to ChefsWay" uk-cover>
            <div class="uk-width-1-2 uk-position-medium uk-position-center-left uk-overlay uk-overlay-default welcome-box">
                <h3 class="uk-title welcome-title">Thanksgiving is just around the corner!</h3>
                    <p class="welcome-message">Looking to make something for the family? Look no further!
                        We have everything from starters to mains! Don't forget to share your own 'secret recipes'. </p>
            </div>
        </div>

        {{!-- <div data-uk-grid="{gutter: 20}" class="uk-grid recipe-grid">
            <div class="uk-width-1">
                <div class="uk-grid uk-flex-center uk-text-center">
                    <div class="uk-width-1-4@m card">
                        <div class="uk-card uk-card-default uk-card-hover">
                            <h3 class="uk-card-title">{{{ body }}}</h3>
                        </div>
    
                    </div>

                </div>
            </div>
        </div> --}}

        {{{ body }}}

        <hr class="uk-divider-icon">

        <div data-uk-grid="{gutter: 20}" class="uk-grid recipe-grid">
            <div class="uk-width-1">
                <div class="uk-grid uk-flex-center uk-text-left">
                    <div class="uk-width-1-3@m contactUs">
                        <h4>Contact Us</h4>
                        <h6 class="uk-margin uk-width-1-2@s">Email: chefsway@aol.com</h6>
                        <h6 class="uk-margin uk-width-1-2@s">Office: 1.800.CHE-FSWY</h6>
                    </div>
                    <div class="uk-width-1-3@m newsletter">
                        <h4>Newsletter Registration</h4>
                        <form>
                            <div class="uk-margin uk-width-1-2@s">
                                <input class="uk-input" id="name" type="text" placeholder="Full Name">
                            </div>

                            <div class="uk-margin uk-width-1-2@s">
                                <input class="uk-input" id="email" type="email" placeholder="E-mail">
                            </div>
                            <button class="uk-button uk-button-secondary" id="newsletter">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#"><img id="ChefsWay-logo" src="/images/ChefsWay_Icon.png" alt="ChefsWay Home Button" width="100"></a>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav left-nav-bar">
                        <li class="uk-active"><a href="#">About Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/comment.js"></script>
  {{/if}}
</body>

</html>