<div class="post card">
    <div class="card-header">
        <h2>Edit The Post</h2>
    </div>
    <form id="edit-form" class="card-body">
        <input name="post-id" value="{{post.id}}" />

        <label for="post-title">Title</label>
        <input type="text" name="Title" value="{{post.title}}" class="form-input" />

        <label>Comments and Info</label>
        <textarea name="Body">{{post.body}}</textarea>

        <button type="submit" class="btn">Update</button>

        <button type="button" id="delete-btn" class="btn">Delete</button>
    </form>
</div>

<script src="../public/javascript/edit-recipie.js"></script>