<div data-uk-grid="{gutter: 20}" class="uk-grid recipe-grid">
    <div class="uk-width-1">
        <div class="uk-grid uk-flex-center uk-text-center">
            {{#each recipies as |recipie|}}
                <div class="uk-width-1-4@m card">
                    <div class="uk-card uk-card-large uk-card-default uk-card-hover">
                        <a href="/dashboard/recipie/{{recipie.id}}">
                            <div class="uk-card-media-top"><img id="card-image" src="/images/cookingpan.png" width="250px"></div>
                            <h3 class="uk-card-title recipe-card-title">{{recipie.title}}</h3>
                        </a>
                        <h5 class="uk-text-left recipe-card-chef"> Recipe by Chef: {{recipie.user.username}}</h5>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

