{{!-- <ol class="recipie-list">
  {{#each recipies as |recipie|}}
  <li>
    {{> recipie-info recipie }}
  </li>
  {{/each}}
</ol> --}}

<ol class="recipie-list">
  {{#each recipies as |recipie|}}
<div data-uk-grid="{gutter: 20}" class="uk-grid recipe-grid">
  <div class="uk-width-1">
    <div class="uk-grid uk-flex-center uk-text-center">
      <div class="uk-width-1-4@m card">
        <div class="uk-card uk-card-default uk-card-hover">
          <h3 class="uk-card-title">
            <a href="/dashboard/recipie/{{recipie.id}}">{{recipie.title}}</a>
          </h3>
          <p>{{recipie.user.username}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  {{/each}}
</ol>
