<form id="edit-form" class="card-body">

    <label>What is the Title of your Recipe</label>
    <input type="text" name="Title" class="form-input" />

    <label>Please provide a brief Description of your Recipe</label>
    <textarea name="recipieDescription"></textarea>

    <label>List all of the Ingredients required to make your Recipe</label>
    <textarea name="recipieIngredients"></textarea>

    <label>What accompanies your Recipe? List some additions for Table Meals</label>
    <textarea name="recipieTableMeals"></textarea>

    <label>How do you make your Recipe? Please list the Directions.</label>
    <textarea name="recipieDirections"></textarea>



    <button type="submit" class="btn">Add A Recipe</button>

</form>

<script src="/javascript/add-recipie.js"></script>
