<form id="edit-form" class="card-body">

    <label for="post-title">Title</label>
    <input type="text" name="Title" class="form-input" />

    <label>New Post</label>
    <textarea name="Body"></textarea>

    <button type="submit" class="btn">Add A Recipie</button>

</form>

<script src="/javascript/add-recipie.js"></script>