.background {
    background-color: rgba(238, 116, 33, 0.1);
}

.left-nav-bar {
    margin-right: 40px;
}

.hero-image {
    padding-top: 40px;
}


/* RECIPE CARD ELEMENTS */
.recipe-grid {
    padding: 30px;
}
.card {
    padding-bottom: 20px;
}

/* CONTACT US & NEWSLETTER ELEMENTS*/
.contactUs {
    margin: 40px 10px 30px 10px;
}




/* MEDIA SCREEN ADJUSTMENTS */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 980px) {
    #ChefsWay-logo {
        content:url("/images/ChefsWay_Icon.png");
        width: 70px;
    }
    .all-recipes, .my-recipes, .dashboard, .logout {
        font-size: 0.8rem;
    }
    .welcome-title {
        font-size: 1.2rem;
    }
    .welcome-message {
        font-size: 0.9rem;
    }
    .login-title, .signup-title {
        font-size: 0.85rem;
    }
    .contactUs, .newsletter {
        margin: 30px;
    }
}

@media screen and (max-width: 768px) {
    #ChefsWay-logo {
        content:url("/images/ChefsWay_Icon.png");
        width: 70px;
    }
    .all-recipes, .my-recipes, .dashboard, .logout {
        font-size: 0.2rem;
    }
    .welcome-title {
        font-size: 1rem;
    }
    .welcome-message {
        font-size: 0.85rem;
    }
    .login-title, .signup-title {
        font-size: 0.85rem;
    }
    .contactUs, .newsletter {
        margin: 30px;
    }
}

@media screen and (max-width: 600px) {
    #ChefsWay-logo {
        content:url("/images/ChefsWay_Icon.png");
        width: 70px;
    }
    .all-recipes, .my-recipes, .dashboard, .logout {
        font-size: 0.6rem;
    }
    .welcome-title {
        font-size: 0.8rem;
    }
    .welcome-message {
        font-size: 0.7rem;
    }
    .login-title, .signup-title {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 575px) {
    #ChefsWay-logo {
        content:url("/images/ChefsWay_Icon.png");
        width: 70px;
    }
    .welcome-box {
        margin-top: 50px;
        width: 60rem;
    }
    .welcome-title {
        font-size: 0.8rem;
    }
    .welcome-message {
        font-size: 0.7rem;
    }
    .login-title, .signup-title {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    #ChefsWay-logo {
        content:url("/images/ChefsWay_Icon.png");
        width: 70px;
    }
    .welcome-box {
        margin-top: 50px;
        width: 80rem
    }
    .welcome-title {
        font-size: 0.8rem;
    }
    .welcome-message {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 380px) {
    #ChefsWay-logo {
        content:url("/images/ChefsWay_Icon.png");
        width: 60px;
    }
    .all-recipes, .my-recipes, .dashboard, .logout {
        font-size: 0.6rem;
    }
    .welcome-box {
        margin-top: 50px;
        width: 80rem
    }
    .welcome-title {
        font-size: 0.75rem;
    }
    .welcome-message {
        font-size: 0.55rem;
    }
}

@media screen and (max-width: 330px) {
    #ChefsWay-logo {
        content:url("/images/ChefsWay_Icon.png");
        width: 50px;
    }
    .welcome-box {
        /* margin-top: 50px; */
        width: 90rem
    }
    .welcome-title {
        font-size: 0.6rem;
    }
    .welcome-message {
        font-size: 0.5rem;
    }
}